@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
  background-attachment: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  margin: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

#logo:hover {
  opacity: 1;
}

h1 {
  color: rgb(62, 57, 57);
}

h2 {
  font-weight: 110;
  font-size: medium;
  color: rgb(62, 57, 57);
  text-align: center;
}

h3 {
  font-size: 22px;
  color: rgb(62, 57, 57);
}

a {
  font-size: 18px;
  color: rgb(62, 57, 57);
}

a:hover {
  color: rgb(50, 50, 50);
  font-size: 22px;
}

.card {
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 800px;
  height: 200px;
  box-shadow: 2px 2px 2px darkgrey;
  border-radius: 10px;
  background-image: linear-gradient(-343deg, rgb(245, 245, 245), rgba(25, 25, 25, 0.9));
  background-size: cover;
}

.card2 {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 50px;
  box-shadow: 2px 2px 2px darkgrey;
  border-radius: 10px;
  background-image: linear-gradient(-343deg, rgba(25, 25, 25, 0.9), rgb(245, 245, 245));
}

.gradient-text > h3 {
  background-image: linear-gradient(-163deg, rgb(25, 25, 25), rgb(245, 245, 245));
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-right {
  justify-content: space-evenly;
}

.header {
  height: 100px;
  background-image: linear-gradient(180deg, rgba(25, 25, 25, 1), rgba(245, 245, 245, 0));
}
